<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css"></script>

    <div classname="fullbody">
        <div classname="headDiv" id="headerDiv">
            <h1 id="header1"> Hayley Williams</h1>
        </div>

        <div>
            <image id="hayleyImage" src="Hayley Williams.jpg" alt="Hayley Williams giving a heart sign to audience"> </image>
        </div>

        
        <div id="description">
            <h3>
                She is the lead singer of the band paramore. 
                Hayley Nichole Williams was born in Meridian, Mississippi, on December 27, 1988, the daughter of Joey and Cristi Williams. She has two younger half-sisters.
                After her parents' divorce in 2002, Williams moved with her mother to Franklin, Tennessee. She met future bandmates Josh and Zac Farro at her new school. 
                Shortly after settling in Franklin, she began taking vocal lessons with Brett Manning. While still at school, she tried out for a local funk cover band, The Factory, where she met Jeremy Davis. 
                Williams' childhood neighbor was NBA player Rodney Hood.
            </h3>
        </div>
    </div>
    
    <form class="changePage" action="/switch" method="get">
        <label> Click This button to be redircted to a different page </label>
        <input type="submit" onclick=switchThePage()>
    </form>
</body>
</html>